/* Universal */
* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
header {
  border-bottom: 1px solid #0000004a;
  background: #ffffff;
  color: #000000;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: auto;
  text-align: center;
  line-height: 2;
  background-color: #1c736d;
  color: rgb(0, 0, 0);
}

nav ul {
  text-align: right;
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li:first-child {
  float: inline-start;
  text-decoration: underline;
  /* text-decoration-color: #040D12; */
}

nav ul li a {
  font-family: monospace;
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-decoration: none;
}

nav ul li:first-child a {
  color: rgb(0, 0, 0);
}

main {
  padding: 10px;
  text-align: normal;
  background-color: #5affd3;
  margin: 0px 20px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: 400px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.101);
  border-radius: 5px;
}
h2{
  margin-left: 20px;
  text-align: left;
}
h3 {
  margin-left: 20px;
  text-align: left;
}
p {
  margin: 20px;
  font-size: large;
}

.social-links a {
  text-decoration: none;
  color: #36b3fb;
}
.projects-lists a {
  margin: 0 10px;
  text-decoration: none;
  color: #00a2ff;
}
.projects-lists img{
  display: block;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.list-container{
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.117);
  background-color: #8db3a931;
  border-radius: 10px;
}
img{
  background-color: #1a1a1a;
}

footer {
  background: #fafafa;
  border-top: 1px solid #00000046;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
}
